html {
  font-family: "rubik", "cafe24";
  text-transform: capitalize;
}

body {
  background-color: rgba(174, 208, 238, 0.2);
  overflow-x: hidden;
}

/* header */
header {
  background-color: #AED0EE;
  position: relative;
  /* banner */
}
header nav {
  width: 100%;
  position: fixed;
  padding: 1vw 2.5vw;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  color: #fff;
  z-index: 99;
}
header nav .logo {
  width: 80px;
  margin-right: 3vw;
}
header nav .menu {
  display: flex;
}
header nav .menu li {
  margin-right: 3vw;
}
header .banner {
  color: #fff;
  font-family: "nexonRegular";
}
header .banner .banner_bg {
  color: #fff;
  text-transform: uppercase;
  font-family: "nexonBold";
  font-size: 17vw;
  font-weight: 600;
  opacity: 0.15;
  position: absolute;
  bottom: 2vw;
  right: -50vw;
}
header .banner .banner_main_txt {
  padding-left: 10vw;
  padding-top: 10vw;
  transform: translateY(5vw);
  opacity: 0;
  transition: 1s;
}
header .banner .banner_main_txt.active {
  transform: translateY(0);
  opacity: 1;
}
header .banner .banner_main_txt h1 {
  font-family: "rubikBold";
  font-weight: 700;
  font-size: 4vw;
  margin-bottom: 2vw;
}
header .banner .banner_main_txt .banner_mainsub_txt p {
  font-size: 1.2rem;
  margin-bottom: 7px;
}
header .banner .banner_explain_txt {
  width: 34vw;
  margin-left: 50vw;
  font-size: 1vw;
  transform: translateY(5vw);
  opacity: 0;
  transition: 1s;
}
header .banner .banner_explain_txt.active {
  transform: translateY(0);
  opacity: 1;
}
header .banner .btn {
  display: flex;
  justify-content: space-between;
  padding: 0 2vw;
  font-size: 1vw;
  text-transform: uppercase;
  padding-top: 7vw;
  padding-bottom: 2vw;
  position: relative;
  z-index: 9;
}
header .banner .btn a {
  display: flex;
  align-items: center;
}
header .banner .btn a span {
  font-size: 0.8vw;
}
header .banner .btn .back_btn a span {
  transform: rotate(180deg);
  padding-left: 0.5vw;
}
header .banner .btn .next_btn a {
  flex-direction: row-reverse;
}
header .banner .btn .next_btn a span {
  padding-left: 0.5vw;
}

/* main */
main .preview_box {
  overflow: hidden;
  border: 10px solid #000;
  border-radius: 10px;
  width: 900px;
  height: 550px;
  margin: 10vw auto;
}
main .preview_box img.active {
  animation: scroll 7s linear infinite;
}
@keyframes scroll {
  100% {
    transform: translateY(-75%);
  }
}
main .txt_box {
  position: relative;
  height: 600px;
}
main .txt_box .title_box {
  background-color: #AED0EE;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  position: relative;
  margin-left: 13vw;
  transform: translateX(-5vw);
  opacity: 0;
  transition: 1s;
}
main .txt_box .title_box.active {
  transform: translateX(0);
  opacity: 1;
}
main .txt_box .title_box h2 {
  color: #fff;
  font-size: 2vw;
  font-family: "rubikBold";
  padding: 1.5vw 2vw;
}
main .txt_box .title_box::before {
  content: "";
  display: block;
  border: 1px solid #fff;
  position: absolute;
  bottom: 13px;
  width: 100%;
}
main .txt_box .explain_txt_box {
  font-family: "nexonRegular";
  margin-left: 50vw;
  position: absolute;
  top: 2.5vw;
  transform: translateX(5vw);
  opacity: 0;
  transition: 1s;
}
main .txt_box .explain_txt_box.active {
  transform: translateX(0);
  opacity: 1;
}
main .txt_box .explain_txt_box .explain_txt {
  margin-bottom: 4vw;
}
main .txt_box .explain_txt_box .explain_txt h3 {
  font-family: "cafe24Bold";
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 2vw;
}
main .txt_box .explain_txt_box .explain_txt .explain_sub_txt {
  display: flex;
  align-items: center;
}
main .txt_box .explain_txt_box .explain_txt .explain_sub_txt p {
  font-size: 1.2rem;
  width: 34vw;
}
main .txt_box .explain_txt_box .explain_txt .explain_sub_txt .circle_ico {
  border: 1px solid #000;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: relative;
  margin-right: 1vw;
}
main .txt_box .explain_txt_box .explain_txt .explain_sub_txt .circle_ico::before {
  content: "";
  display: block;
  background-color: #3F73A2;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 2px;
  top: 0;
  z-index: -1;
}
main .txt_box .explain_txt_box .explain_txt .explain_sub_txt .explain_sub_title {
  display: flex;
}
main .txt_box .explain_txt_box .explain_txt .explain_sub_txt .explain_sub_title h4 {
  font-size: 1.5vw;
}
main .txt_box .explain_txt_box .explain_txt .publishing {
  flex-direction: column;
  align-items: normal;
  margin-bottom: 2vw;
}
main .txt_box .explain_txt_box .explain_txt .publishing .explain_sub_title {
  align-items: center;
  padding-bottom: 1.5vw;
}
main .txt_box .explain_txt_box .explain_txt .publishing ul {
  list-style: disc;
  padding-left: 3vw;
  font-size: 1.3rem;
}
main .txt_box .explain_txt_box .explain_txt .problem {
  flex-direction: column;
  align-items: normal;
  margin-bottom: 2vw;
}
main .txt_box .explain_txt_box .explain_txt .problem .explain_sub_title {
  align-items: center;
  padding-bottom: 1.5vw;
}
main .txt_box .explain_txt_box .explain_txt .problem ul {
  list-style: disc;
  padding-left: 3vw;
  font-size: 1.3rem;
  width: 41.5vw;
  margin-bottom: 2vw;
}
main .txt_box .explain_txt_box .explain_txt .problem img {
  width: 20vw;
}
main .txt_box .explain_txt_box .explain_txt .explain_sub_txt:nth-child(3) .circle_ico::before {
  background-color: #86B2DA;
}
main .txt_box .explain_txt_box .explain_txt .explain_sub_txt:nth-child(4) .circle_ico::before {
  background-color: #2D4B66;
}
main .txt_box .explain_txt_box .explain_txt .explain_sub_txt:nth-child(6) .circle_ico::before {
  background-color: #86B2DA;
}
main .txt_box .explain_txt_box .explain_txt:nth-child(1) .explain_sub_txt {
  align-items: normal;
}
main .txt_box:nth-child(3) {
  height: 1050px;
}
main .txt_box:nth-child(4) .title_box h2 {
  font-size: 1.7vw;
  padding-top: 1vw;
}

/*# sourceMappingURL=project1.css.map */
