  // 폰트 변수 선언
  $font: 'cafe24';
  $fontbold: 'cafe24Bold';
  $nexonfont: 'nexonRegular';
  $nexonfontbold: 'nexonBold';
  $rubikbold: 'rubikBold';
  $rubik : 'rubik';

  html {
    font-family: $rubik, $font;
    text-transform: capitalize;
  }
  body {
    background-color: #000;
    overflow-x: hidden;
    line-height: 1.6;
  }

  /* header */
  header {
    background-color: #0C2943;
    position: relative;
    overflow: hidden;

    nav {
      font-family: $rubikbold;
      width: 100%;
      position: fixed;
      padding: 1vw 3.5vw;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.1rem;
      color: #fff;
      z-index: 99;

      .logo {
        width: 60px;
        margin-right: 3vw;
      }
      .menu_bar {
        position: relative;
        /* padding-bottom: 5vw; */
        .gnb {
          text-align: center;
          position: absolute;
          top: 60px; right: 0vw;
          display: block;
          z-index: 2;
    
          li {
            opacity: 0;
            font-size: 2vw;
            margin-bottom: 0.5vw;
            color: #4378ab;
            letter-spacing: 0;
            transform: translateY(-5vw);
            transition: 0.3s;
            cursor: pointer;
            
            &:after {
              content: "";
              display: block;
              background-color: #4378ab;
              width: 0px; height: 2px;
              transition: .3s;
            }
            &:hover:after {
              content: "";
              display: block;
              background-color: #4378ab;
              width: 100%;
            }
            &:last-child {
              line-height: 1;
            }
          }
        }
        &:hover .gnb li:nth-child(1) {
          opacity: 1;
          transform: translateY(0);
        }
        &:hover .gnb li:nth-child(2) {
          opacity: 1;
          transition-delay: 0.2s;
          transform: translateY(0);
        }
        &:hover .gnb li:nth-child(3) {
          opacity: 1;
          transition-delay: 0.4s;
          transform: translateY(0);
        }
        &:hover .gnb li:nth-child(4) {
          opacity: 1;
          transition-delay: 0.6s;
          transform: translateY(0);
        }
        span {
          margin-right: 3vw;
          cursor: pointer;
          color: #4378ab;
        }
        .material-symbols-outlined {
          font-size: 1.8rem;
          line-height: 80px;
          font-weight: 600;
        }
      }
    }
    
    /* banner */
    .banner {
      color: #fff;
      font-family: $nexonfont;
      position: relative;

      .banner_bg {
        color: #fff;
        text-transform: uppercase;
        font-family: $nexonfontbold;
        font-size: 17vw;
        font-weight: 600;
        opacity: 0.15;
        position: absolute;
        bottom: 2vw; right: -50vw;
      }
      .banner_main_txt {
        padding-left: 10vw;
        padding-top: 30vw;
        transform: translateY(5vw);
        opacity: 0;
        transition: 1s;
        &.active {
          transform: translateY(0);
          opacity: 1;
        }

        h1 {
          font-family: $rubikbold;
          font-weight: 700;
          font-size: 5vw;
          margin-bottom: 2vw;
        }
        .banner_mainsub_txt {
          p {
            font-size: 3vw;
            margin-bottom: 7px;
          }
        }
      }
      .banner_explain_txt {
        width: 48vw;
        margin-left: 40vw;
        font-size: 1.3vw;
        transform: translateY(5vw);
        opacity: 0;
        transition: 1s;
        &.active {
          transform: translateY(0);
          opacity: 1;
        }
      }
      .btn {
        display: flex;
        justify-content: space-between;
        padding: 0 2vw;
        font-size: 1vw;
        text-transform: uppercase;
        padding-top: 17vw;
        padding-bottom: 15vw;
        position: relative;
        z-index: 9;
        a {
          display: flex;
          align-items: center;
          span {
            font-size: 0.8vw;
          }
        }
        .back_btn {
          a {
            span {
              transform: rotate(180deg);
              padding-left: 0.5vw;       
            }
          }
        }
        .next_btn {
          a {
            flex-direction: row-reverse;
            span {
              padding-left: 0.5vw;
            }
          }
        }
      }
    }
    .banner::before {
      content: "";
      background: url(../images/bg.png) no-repeat 50% / cover;
      width: 100%; height: 100%;
      position: absolute;
      top: 0;
      opacity: 0.3;
    }
    .banner::after {
      content: "";
      background: url(../images/stars.png) no-repeat 50% / cover;
      width: 100%; height: 80%;
      position: absolute;
      top: 0;
    }
    
  }

  /* main */
  main {
    overflow-x: hidden;
    overflow-y: hidden;
    .preview_box {
      overflow-x: hidden;
      border: 10px solid #000;
      border-radius: 10px;
      width: 300px; height: 400px;
      margin: 10vw auto;
      img.active {
        animation: scroll 3s linear infinite;
      }
      @keyframes scroll {
        100% {  
          transform: translateY(-46%);
        }
      }
    }
    .txt_box {
      position: relative;
      height: 80vw;
      z-index: 9;

      .title_box {
        background-color: #AED0EE;
        display: inline-block;
        border-radius: 10px;
        text-align: center;
        position: relative;
        margin-left: 7vw;
        transform: translateX(-5vw);
        opacity: 0;
        transition: 1s;
        &.active {
          transform: translateX(0);
          opacity: 1;
        }
        &::before {
          content: "";
          display: block;
          border: 1px solid #fff;
          position: absolute;
          bottom: 7px;
          width: 100%;
        }
    
        h2 {
          color: #fff;
          font-size: 4vw;
          font-family: $rubikbold;
          padding: 1.5vw 2vw;
        }
      }
    }
    #project {
      .explain_txt_box {
        font-family: $nexonfont;
        margin-left: 37vw;
        position: absolute;
        top: 2.5vw;
        transform: translateX(5vw);
        opacity: 0;
        transition: 1s;
        &.active {
          transform: translateX(0);
          opacity: 1;
        }
        .explain_txt {
          margin-bottom: 4vw;
          &:first-child {
            .explain_sub_txt {
              align-items: normal;
              .circle_ico {
                margin-top: 0.5vw;
              }
            }
          }
          h3 {
            font-family: $fontbold;
            font-weight: 700;
            font-size: 4vw;
            margin-bottom: 2vw;
          }
          .explain_sub_txt {
            display: flex;
            align-items: center;
            
            p {
              font-size: 3vw;
              width: 52vw;
            }
            .circle_ico {
              border: 1px solid #000;
              border-radius: 50%;
              width: 10px; height: 10px;
              position: relative;
              margin-right: 1vw;
              &::before {
                content: "";
                display: block;
                background-color: #3F73A2;
                border-radius: 50%;
                width: 10px; height: 10px;
                position: absolute;
                left: 2px; top: 0;
                z-index: -1;
              }
            }
            
          }
        }
      }
    }
    #design {
      height: 100vw;
      .explain_txt_box {
        font-family: $nexonfont;
        margin-left: 37vw;
        position: absolute;
        top: 2.5vw;
        transform: translateX(5vw);
        opacity: 0;
        transition: 1s;
        &.active {
          transform: translateX(0);
          opacity: 1;
        }
        .explain_txt {
          margin-bottom: 4vw;
          h3 {
            font-family: $fontbold;
            font-weight: 700;
            font-size: 4vw;
            margin-bottom: 2vw;
          }
          .explain_sub_txt {
            display: flex;
            align-items: center;
            p {
              font-size: 3vw;
              width: 54vw;
            }
            .circle_ico {
              border: 1px solid #000;
              border-radius: 50%;
              width: 10px; height: 10px;
              position: relative;
              margin-right: 1vw;
              &::before {
                content: "";
                display: block;
                background-color: #3F73A2;
                border-radius: 50%;
                width: 10px; height: 10px;
                position: absolute;
                left: 2px; top: 0;
                z-index: -1;
              }
            }
            .color_box {
              border-radius: 50%;
              display: inline-block;
              width: 13vw; height: 13vw;
              margin: 0 1vw;
              background-color: #2C5C8A;
              color: #fff;
              font-size: 0.8vw;
              display: flex;
              justify-content: center;
              align-items: center;
              &:nth-child(2) {
                background-color: #AED0EE;
              }
              &:nth-child(3) {
                background-color: #FFD600;
              }
            }
          }
          .keyword {
            background-color: #fff;
            border: 2px solid #3F73A2;
            border-bottom-left-radius: 40px;
            border-top-right-radius: 40px;
            padding: 0.5vw 3vw;
            margin: 0 0.5vw;
            display: inline-block;
            font-family: $fontbold;
            font-size: 2.5vw;
          }
        }
      }
    }
    #publishing {
      height: 130vw;
      .explain_txt_box {
        font-family: $nexonfont;
        margin-left: 40vw;
        position: absolute;
        top: 2.5vw;
        transform: translateX(5vw);
        opacity: 0;
        transition: 1s;
        &.active {
          transform: translateX(0);
          opacity: 1;
        }
        .explain_txt {
          margin-bottom: 4vw;
          h3 {
            font-family: $fontbold;
            font-weight: 700;
            font-size: 4vw;
            margin-bottom: 2vw;
          }
          .explain_sub_txt {
            display: flex;
            align-items: center;
            flex-direction: column;
            align-items: normal;
            margin-bottom: 2vw;
            padding-right: 3vw;
            .explain_sub_title {
              display: flex;
              align-items: center;
              padding-bottom: 1.5vw;
              .circle_ico {
                border: 1px solid #000;
                border-radius: 50%;
                width: 15px; height: 15px;
                position: relative;
                margin-right: 1vw;
                &::before {
                  content: "";
                  display: block;
                  background-color: #3F73A2;
                  border-radius: 50%;
                  width: 15px; height: 15px;
                  position: absolute;
                  left: 2px; top: 0;
                  z-index: -1;
                }
              }
              h4 {
                font-size: 3vw;
              }
            }
            ul {
              list-style: disc;
              padding-left: 3vw;
              font-size: 2.5vw;
            }
          }
        }
      }
    }
    #problem {
      .title_box {
        h2 {
          font-size: 3.5vw;
          padding-top: 1vw;
        }
      }
      .explain_txt_box {
        font-family: $nexonfont;
        margin-left: 37vw;
        position: absolute;
        top: 2.5vw;
        transform: translateX(5vw);
        opacity: 0;
        transition: 1s;
        &.active {
          transform: translateX(0);
          opacity: 1;
        }
        .explain_txt {
          margin-bottom: 4vw;
          h3 {
            font-family: $fontbold;
            font-weight: 700;
            font-size: 4vw;
            margin-bottom: 2vw;
          }
          .explain_sub_txt {
            display: flex;
            flex-direction: column;
            align-items: normal;
            margin-bottom: 2vw;
            .explain_sub_title {
              display: flex;
              align-items: center;
              padding-bottom: 1.5vw;
              .circle_ico {
                border: 1px solid #000;
                border-radius: 50%;
                width: 15px; height: 15px;
                position: relative;
                margin-right: 1vw;
                &::before {
                  content: "";
                  display: block;
                  background-color: #3F73A2;
                  border-radius: 50%;
                  width: 15px; height: 15px;
                  position: absolute;
                  left: 2px; top: 0;
                  z-index: -1;
                }
              }
              h4 {
                font-size: 3vw;
              }
            }
            ul {
              list-style: disc;
              padding-left: 3vw;
              font-size: 2.5vw;
              width: 56vw;
              margin-bottom: 2vw;
              li {
                padding-right: 3vw;
              }
            }
            img {
              width: 40vw;
            }
          }
        }
      }
    }
  }
